

<div class="main text-white d-flex flex-column align-items-center">
    <div class="text-center"><h2>ABOUT COMPONENT</h2></div>
<div class="line mb-3"><i class="fa-solid fa-star"></i></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 p-4">
            <div>   <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
        </div>
        <div class="col-md-6 p-4">
            <div>   <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
        </div>
    </div>
</div>


</div>