*{
    padding: 0;
    margin: 0;
}
.main{
    background-color: #1ABC9C !important;
    padding-bottom:10%;
}
.line{
    top: 15px;
    width: 14%;
    height: 3px;
    background-color: white;
    position: relative;
    z-index: 11;
}
.line::after{
    content: '';
    position: absolute;
    top: 0;
    left: 36%;
    width: 30%;
    height: 10px;
    background-color:  #1ABC9C;
    
}

.line i {
    z-index: 111;
    position: absolute;
    top: -8px;
    left: 45%;
}

h2{
    padding-top: 60%;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

