.MYactive{
    background-color: #1ABC9C;
    border-radius: 8px;
}
.mynavbar{
    background-color: #2C3E50 !important;
    z-index: 998;
}
.container>a{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
 a{
    color: white !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
 }

 ul li{
    padding: 25px;
 }