

<div class="header text-center">
    <h2>CONTACT SECTION</h2>
    <div class="line mb-3 "><i class="fa-solid fa-star"></i></div>
</div>

<div class="container myForm">
    <p id="p1" class="">userName :</p>
    <input (keyup)="message1($event)"  type="text" class="myinput form-control border-0 border-bottom py-3" placeholder="userName">
    <p id="p2">userAge :</p>
    <input (keyup)="message2($event)" type="text" class="myinput form-control border-0 border-bottom py-3" placeholder="userAge">
    <p id="p3">userEmail :</p>
    <input (keyup)="message3($event)" type="text" class="myinput form-control border-0 border-bottom py-3" placeholder="userEmail">
    <p id="p4">userPassword :</p>
    <input (keyup)="message4($event)" type="text" class="myinput form-control border-0 border-bottom py-3" placeholder="userPassword">
    <button class="btn text-white">Send Message</button>
</div>